In [ ]:
# Create a DataFrame
data = [
    ("Alice", 34), 
    ("Bob", 45), 
    ("Cathy", 29)
]
columns = ["Name", "Age"]
df = spark.createDataFrame(data, columns)

# Register the DataFrame as a SQL temporary view
df.createOrReplaceTempView("people")

In [ ]:
SELECT count(*) as count FROM people WHERE Age > 30